.row{ "ng-app" => "first_take_nba" }
  .row
    = render "nav"
    = render "scorebox"
  .row
    .col-md-2.col-sm-2
      = render "side_menu"
    .col-md-8.col-sm-8{style: "text-align: center"}
      = render "carousel"
      -#.view-frame.animate-view{ "ng-view" => "" }
      = render "headlines"
      .col-md-4.col-sm-4.twitter-box
        = render "twitter/twitter_box"
    .col-md-2.col-sm-2